{% extends "./static/template/baseTemplate.twig" %}

{# content #}
{% block content %}
        <br><br><br><br><br>
        <h1>Я статическая страница</h1>
        {{ dump (options) }}
        <div class="test">
            Мои параметры: {{ site_name }}
        </div>

        <style>
            .test {
                color: red;
            }
            .errored {color: rosybrown}
        </style>

        <div class="home-philosophy my-3 my-md-4 my-lg-5 my-xl-10">
            {{ showComponent('guta:example', '') }}
        </div>

        <div>
            Работа процессора контента: {{ processor_change }}
        </div>
        <br><br>
        <p class="{{ html_classes('a-class', 'another-class', {
            'errored': object.errored,
            'finished': object.finished,
            'pending': object.pending,
        }) }}">How are you doing?</p>
{% endblock %}


